
        <section *ngIf='topTrack' class="card" style="width:302px">
            <img class="card-img-top" [src]='topTrack.album.images[1].url' />
            <div class="card-block">
                <h2 class="card-title">Now Playing</h2>

                <div>Track: {{ topTrack.name }}</div>
                <div>Album: {{ topTrack.album.name }}</div>
            </div>

            <audio autoplay controls [src]="topTrack.preview_url"></audio>
            <div class="card-block text-xs-center">
                <button (click)="closePlayer()" class="btn btn-secondary">Close Player</button>
            </div>
        </section>
