<h1 class="display-4">Artist Management</h1>
<section class="card card-block">
    <h3 class="display-5">Saved Artists
        <button (click)="add()" class="btn btn-secondary btn-sm">Add New Artist</button>
    </h3>
    <artists-list [artists]='artists' (editClicked)='edit($event)' (deleteClicked)='delete($event)' #artistsList></artists-list>
</section>
<artist-detail *ngIf='artistsList.selectedArtist' [model]='artistsList.selectedArtist' (onSaved)="onSaved($event, artistDetail.model)" (onCanceled)="onCanceled()" #artistDetail></artist-detail>
<spotify-player *ngIf='artistsList.playingArtist' [artistInfo]='artistsList.playingArtist' (playerClosed)="artistsList.playingArtist = null"></spotify-player>