<section *ngIf="model" class="artistDetailForm" class="card card-block">
    <form (ngSubmit)="onSave()" #detailForm="ngForm">
        <h2>Artist</h2>
        <div class="form-group row" *ngIf="model.id">
            <label class="col-xs-1 col-form-label">ID</label>
            <div class="col-xs-11">
                <p class="form-control-static">{{model.id}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="editName">Name: </label>
            <div class="input-group">
                <input type="text" id="editName" name="artistName" [(ngModel)]="model.name" placeholder="Artist Name" required #name="ngModel"
                    class="form-control" />
                <span class="input-group-btn">
            <button type="button" (click)="selectArtist()" [disabled]="name.pristine || name.invalid" class="btn btn-secondary">Find artist</button>
            </span>
            </div>
        </div>
        <div class="form-group">
            <label for="editRating">Rating: </label>
            <label class="form-check-inline">
            <input class="form-check-input" type="radio" [(ngModel)]="model.rating" name="rating" [value]="1"> 1 
            </label>
            <label class="form-check-inline">
            <input class="form-check-input" type="radio" [(ngModel)]="model.rating" name="rating" [value]="2"> 2 
            </label>
            <label class="form-check-inline">
            <input class="form-check-input" type="radio" [(ngModel)]="model.rating" name="rating" [value]="3"> 3 
            </label>
            <label class="form-check-inline">
            <input class="form-check-input" type="radio" [(ngModel)]="model.rating" name="rating" [value]="4"> 4 
            </label>
            <label class="form-check-inline">
            <input class="form-check-input" type="radio" [(ngModel)]="model.rating" name="rating" [value]="5"> 5 
            </label>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!selectedArtist || detailForm.invalid || detailForm.pristine" class="btn btn-primary">Save</button>
            <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancel</button>
        </div>

    </form>

    <section *ngIf="selectedArtist" class="selectedArtistInfo">
        <h2>{{selectedArtist.name}}</h2>
        <img *ngIf='selectedArtist.images && selectedArtist.images.length > 0' [src]='selectedArtist.images[1].url' class="img-fluid"/>
    </section>
    <section *ngIf="artistsNotFound" class="artistNotFound">
        <h2>No matches found, try a different artist</h2>
    </section>
</section>