<section *ngIf="model">
    <form (ngSubmit)="onSave()" #detailForm="ngForm">        
        <h2>Edit Artist</h2>
        <div>ID: {{model.id}}</div>
        <label for="editName">Name: </label>
        <input type="text" id="editName" name="artistName" [(ngModel)]="model.name" placeholder="Artist Name" required #name="ngModel"/>
         <div [hidden]="name.valid || name.pristine">
          Name is required
        </div>
        <button type="button" (click)="selectArtist()" [disabled]="name.pristine || name.invalid">Find artist</button>
        <label for="editRating">Rating: </label>
        <input type="range" id="editRating" name="rating" [(ngModel)]="model.rating" min="1" max="5" step="0" value="0" required/>
        <button type="submit" [disabled]="!selectedArtist || detailForm.invalid || detailForm.pristine">Submit Edit</button>
        <button type="button" (click)="onCancel()">Cancel</button>
    </form>
</section>
<section *ngIf="selectedArtist">
     <h2>{{selectedArtist.name}}</h2>
    <img *ngIf='selectedArtist.images && selectedArtist.images.length > 0' [src]='selectedArtist.images[2].url' />
</section>
<section *ngIf="artistsNotFound">
    <h2>No matches found, try a different artist</h2>
</section>